@import '_variables.scss';

#header {
  margin: 0 1em;

  #header-name {
    font-size: $name-size;
    font-weight: $name-weight;
  }

  #header-items {
    a:not(:last-child) {
      margin-right: 1em;
    }
  }
}
