@import '_variables.scss';

.navigation {
  @mixin sidebar-styles {
    position: fixed;
    top: 50px;
    left: 0px;
    margin: 0 1em;
    width: $sidebar-inner-width;

    .navigation-name {
      font-size: $name-size;
      font-weight: $name-weight;
      text-align: right;
    }

    .navigation-items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      line-height: 1.4;
    }
  }

  @mixin header-styles {
    margin: 0 1em;

    .navigation-name {
      font-size: $name-size;
      font-weight: $name-weight;
    }

    .navigation-items {
      a:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &.sidebar { @include sidebar-styles };
  &.header { @include header-styles };

  @media (min-width: $tablet-size) {
    &.responsive { @include sidebar-styles };
  }
  @media (max-width: $tablet-size - 1px) {
    &.responsive { @include header-styles };
  }
}
