@import '_variables.scss';

#main-content {
  &.sidebar-responsive {
    @media (min-width: $tablet-size) {
      margin-left: $sidebar-width;
    }
    @media (max-width: $tablet-size - 1px) {
      margin-left: 2em;
    }
  }
  &.article {
    display: flex;
    justify-content: space-around;
    margin: 0 2em;
  }
}
