
$name-size: xx-large;
$name-weight: normal;

$sidebar-width: 212px;
$sidebar-inner-width: calc(212px - 2em);


// DEVICE SIZES
$tablet-size: 768px;
$laptop-size: 1200px;

// COLORS
$color-black: hsl(195, 60%, 4%);

// CODE DISPLAY
$code-border-std: 1px solid #888;

$article-width-sm: 80ch;
$article-width-lg: 100ch;
